# Observability provider can be "langsmith", "langfuse", or "none"
OBSERVABILITY_PROVIDER="langsmith"

# Langsmith - https://smith.langchain.com/
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langchain_api_key
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT=your_langchain_project_name

# Langfuse - https://langfuse.com/
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key
LANGFUSE_SECRET_KEY=your_langfuse_secret_key
LANGFUSE_HOST=your_langfuse_host # (e.g., http://localhost:3000)

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=your_azure_openai_endpoint
OPENAI_API_VERSION=your_openai_api_version
OPENAI_API_DEPLOYMENT_NAME=your_openai_deployment_name
OPENAI_API_KEY=your_azure_openai_api_key

# Services
QDRANT_URL=your_qdrant_url
SEARX_URL=your_searx_url
BROWSER_WS_ENDPOINT=your_browser_ws_endpoint
